---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}

<div class="wrapper home">
  <div class="content">

    {{ content | safe }}
        <p>
      <em>{{description}}</em>
    </p>  
    {# After the the content defined in index.md, list the blog posts in the collection #}
    <div class="feed">
      {%- for post in collections.topPosts -%}
      <div class="wrapper post">
        <h2 class="postTitle">
          <a href='{{ post.url | url }}'>{{post.data.title}}</a>
        </h2>
        <p>{{post.data.date | htmlDateString }}</p>
        <p>
          <em>{{post.data.description}}</em>
        </p>
        <div class="content text_small">
          {{post.data.content | safe}}
        </div>
      </div>
      {%- endfor -%}
    </div>
    
    <div>
      <a href="{{ '/posts' | url}}">View all posts</a>
    </div>
  </div>
</div>


